@charset "utf-8";

/* SVG 제어 */
#leftTopCloud {
  transform: translateX(-500px);
  animation: flowRightSlow 10s 2s infinite alternate linear;
}
@keyframes flowRightSlow {
  100% {
    transform: translateX(500px);
  }
}
#leftBottomCloud {
  transform: translateX(-600px);
  animation: flowRightFast 5s infinite alternate linear;
}
@keyframes flowRightFast {
  100% {
    transform: translateX(800px);
  }
}
#rightTopCloud {
  transform: translateY(30px);
  animation: flowLeftFast 7s infinite alternate linear;
}
@keyframes flowLeftFast {
  100% {
    transform: translateX(-1200px);
  }
}
#rightTopCloud circle.cls-2 {
  fill: #ddd;
}
#frontTree {
  transform-origin: center bottom;
  transform: scale(0);
}
#frontTree.svgControl {
  animation: treePop .7s forwards cubic-bezier(0.49, 0.06, 0.1, 0.99);
  animation-play-state: running;
}
@keyframes treePop {
  60% {
    transform: scale(1.1) rotateY(50deg);
  }
  75% {
    transform: scale(.9) rotateY(40deg);
  }
  100% {
    transform: scale(1);
  }
}
